.container {
  max-width: 100%;
  height: 100%;
  margin: 100px auto;
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  background-color: #fff;
}

.title {
  font-size: 40px;
  font-weight: bold;
  color: #4ba6f0;
  margin-bottom: 50px;
  font-family: 'Heebo', sans-serif;;
}

.form-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}

input {
  padding: 12px 18px;
  font-size: 16px;
  border-radius: 8px;
  border: 1.5px solid #333;
  min-width: 120px;
}

.btn {
  padding: 12px 20px;
  font-size: 16px;
  font-weight: 600;
  background-color: #e1ecf4;
  border: 1.5px solid #9ac1dc;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s;
}

.btn:hover {
  background-color: #d0e0f0;
}