name: CI/CD Pipeline

on:
  push:
    branches: [ "master" ]

jobs:
  build-image:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Build & Push Docker image - front
        run: |
          docker build -t "${{ secrets.DOCKER_USERNAME }}"/frontend-unity-test:latest ./frontend
          docker push "${{ secrets.DOCKER_USERNAME }}"/frontend-unity-test:latest
        on:
          push:
            paths:
              - 'frontend/**'

      - name: Build & Push Docker image - customer-api
        run: |
          docker build -t "${{ secrets.DOCKER_USERNAME }}"/customer-api-test:latest ./backend/customer-api
          docker push "${{ secrets.DOCKER_USERNAME }}"/customer-ap-test:latest
        on:
          push:
            paths:
              - 'backend/customer-api/**'

      - name: Build & Push Docker image - web-server
        run: |
          docker build -t "${{ secrets.DOCKER_USERNAME }}"/web-server-test:latest ./backend/web-server
          docker push "${{ secrets.DOCKER_USERNAME }}"/web-server-test:latest
        on:
          push:
            paths:
              - 'backend/web-server/**'
