name: CI/CD Pipeline

on:
  push:
    branches: [ "ci-cd" ]
    paths:
      - 'frontend/**'
      - 'backend/customer-api/**'
      - 'backend/web-server/**'

jobs:
  build-image:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

# -------------- Login to docker hub --------------
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          
# -------------- Check which services changed --------------
      - name: Detected Changes
        uses: dorny/paths-filter@v2
        id: filter
        with:
          filters: |
            frontend:
              - 'frontend/**'
            customer_api:
              - 'backend/customer-api/**'
            web_server:
              - 'backend/web-server/**'

# -------------- Build and Push front --------------
      - name: Build & Push Docker image - front
        if: steps.filter.outputs.frontend == 'true'
        run: |
          docker build -t "${{ secrets.DOCKER_USERNAME }}"/frontend-unity:${GITHUB_SHA::10} ./frontend
          docker push "${{ secrets.DOCKER_USERNAME }}"/frontend-unity:${GITHUB_SHA::10}
          
      - name: Deploy frontend
        if: steps.filter.outputs.frontend == 'true'
        run: |
          helm upgrade unity-home ./unity-assign \
            --reuse-values \
            --set frontend.deployment.tag=${GITHUB_SHA::10}

# -------------- Build and Push back - customer api --------------
      - name: Build & Push Docker image - customer-api
        if: steps.filter.outputs.customer_api == 'true'
        run: |
          docker build -t "${{ secrets.DOCKER_USERNAME }}"/customer-api-test:latest ./backend/customer-api
          docker push "${{ secrets.DOCKER_USERNAME }}"/customer-ap-test:latest

# -------------- Build and Push back - web server --------------
      - name: Build & Push Docker image - web-server
        if: steps.filter.outputs.web_server == 'true'
        run: |
          docker build -t "${{ secrets.DOCKER_USERNAME }}"/web-server-test:latest ./backend/web-server
          docker push "${{ secrets.DOCKER_USERNAME }}"/web-server-test:latest
