name: CI/CD Pipeline

permissions:
  contents: write

on:
  push:
    branches: [ "ci-cd" ]
    paths:
      - 'frontend/**'
      - 'backend/customer-api/**'
      - 'backend/web-server/**'
      
jobs:
# ------------------------------------------------
# Detect which services changed
# ------------------------------------------------
  detect-changes:
    runs-on: ubuntu-latest
    outputs:
      frontend: ${{ steps.filter.outputs.frontend }}
      customer_api: ${{ steps.filter.outputs.customer_api }}
      web_server: ${{ steps.filter.outputs.web_server }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Detect changes
        id: filter
        uses: dorny/paths-filter@v2
        with:
          filters: |
            frontend:
              - 'frontend/**'
            customer_api:
              - 'backend/customer-api/**'
            web_server:
              - 'backend/web-server/**'
# ------------------------------------------------
# Build images + update Helm (parallel)
# ------------------------------------------------
  build-and-update:
    needs: detect-changes
    runs-on: ubuntu-latest

    strategy:
      matrix:
        service:
          - name: frontend
            enabled: ${{ needs.detect-changes.outputs.frontend }}
            path: frontend
            image: frontend-unity
            valuesKey: frontend.deployment.tag

          - name: customer-api
            enabled: ${{ needs.detect-changes.outputs.customer_api }}
            path: backend/customer-api
            image: customer-api
            valuesKey: customerApi.deployment.tag

          - name: web-server
            enabled: ${{ needs.detect-changes.outputs.web_server }}
            path: backend/web-server
            image: web-server
            valuesKey: webServer.deployment.tag

    if: matrix.service.enabled == 'true'

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set image tag
        run: |
          echo "IMAGE_TAG=${GITHUB_SHA::10}" >> $GITHUB_ENV

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build & Push Docker image 
        run: |
          docker build -t "${{ secrets.DOCKER_USERNAME }}/${{ matrix.service.image }}:$IMAGE_TAG" ${{ matrix.service.path }}
          docker push "${{ secrets.DOCKER_USERNAME }}/${{ matrix.service.image }}:$IMAGE_TAG"

      - name: Update Helm Chart
        run: |
          yq -i '.${{ matrix.service.valuesKey }} = strenv(IMAGE_TAG)' unity-assign/values.yaml
          git config --global user.email "${{ secrets.DOCKER_USERNAME }}@gmail.com"
          git config --global user.name "${{ secrets.DOCKER_USERNAME }}"

          git add unity-assign/values.yaml
          git commit -m "set new tag - $IMAGE_TAG"
          git push origin ${GITHUB_REF_NAME}