name: CI/CD Pipeline

on:
  push:
    branches: [ "ci-cd" ]
    paths:
      - 'frontend/**'
      - 'backend/customer-api/**'
      - 'backend/web-server/**'

jobs:
  build-image:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

# -------------- Check which services changed --------------
      - name: Detected Changes
        uses: dorny/paths-filter@v2
        id: filter
        with:
          filters: |
            frontend:
              - 'frontend/**'
            customer_api:
              - 'backend/customer-api/**'
            web_server:
              - 'backend/web-server/**'

# -------------- Build and Push front --------------
      - name: Build & Push Docker image - front
        if: steps.filter.outputs.frontend == 'true'
        run: |
          docker build -t "${{ secrets.DOCKER_USERNAME }}"/frontend-unity-test:latest ./frontend
          docker push "${{ secrets.DOCKER_USERNAME }}"/frontend-unity-test:latest
        
# -------------- Build and Push back - customer api --------------
      - name: Build & Push Docker image - customer-api
        if: steps.filter.outputs.customer_api == 'true'
        run: |
          docker build -t "${{ secrets.DOCKER_USERNAME }}"/customer-api-test:latest ./backend/customer-api
          docker push "${{ secrets.DOCKER_USERNAME }}"/customer-ap-test:latest

# -------------- Build and Push back - web server --------------
      - name: Build & Push Docker image - web-server
        if: steps.filter.outputs.web_server == 'true'
        run: |
          docker build -t "${{ secrets.DOCKER_USERNAME }}"/web-server-test:latest ./backend/web-server
          docker push "${{ secrets.DOCKER_USERNAME }}"/web-server-test:latest

