name: CI/CD Pipeline

on:
  push:
    branches: [ "ci-cd" ]
    paths:
      - 'frontend/**'
      - 'backend/customer-api/**'
      - 'backend/web-server/**'

jobs:
  build-image:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

# -------------- Login to docker hub --------------
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

# -------------- Set image tag as env --------------  
      - name: Set image tag
        run: |
          IMAGE_TAG=${GITHUB_SHA::10}
          echo "IMAGE_TAG=$IMAGE_TAG" >> $GITHUB_ENV

# -------------- Check which services changed --------------
      - name: Detected Changes
        uses: dorny/paths-filter@v2
        id: filter
        with:
          filters: |
            frontend:
              - 'frontend/**'
            customer_api:
              - 'backend/customer-api/**'
            web_server:
              - 'backend/web-server/**'

# -------------- Build and Push front --------------
      - name: Build & Push Docker image - front & Update Helm
        if: steps.filter.outputs.frontend == 'true'
        run: |
          docker build -t "${{ secrets.DOCKER_USERNAME }}"/frontend-unity:$IMAGE_TAG ./frontend
          docker push "${{ secrets.DOCKER_USERNAME }}"/frontend-unity:$IMAGE_TAG
          yq -i '.frontend.deployment.tag = strenv(IMAGE_TAG)' unity-assign/values.yaml
          git add unity-assign/values.yaml
          git commit -m "set new tag - $IMAGE_TAG"
          git push origin ${GITHUB_REF_NAME}

          
# -------------- Build and Push back - customer api --------------
      - name: Build & Push Docker image - customer-api & Update Helm
        if: steps.filter.outputs.customer_api == 'true'
        run: |
          docker build -t "${{ secrets.DOCKER_USERNAME }}"/customer-api:$IMAGE_TAG ./backend/customer-api
          docker push "${{ secrets.DOCKER_USERNAME }}"/customer-api:$IMAGE_TAG
          yq -i '.customerApi.deployment.tag = strenv(IMAGE_TAG)' unity-assign/values.yaml

# -------------- Build and Push back - web server --------------
      - name: Build & Push Docker image - web-server & Update Helm
        if: steps.filter.outputs.web_server == 'true'
        run: |
          docker build -t "${{ secrets.DOCKER_USERNAME }}"/web-server:$IMAGE_TAG ./backend/web-server
          docker push "${{ secrets.DOCKER_USERNAME }}"/web-server:$IMAGE_TAG
          yq -i '.webServer.deployment.tag = strenv(IMAGE_TAG)' unity-assign/values.yaml
